<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005423966188-46aonfl0em1hdh9vuleai065rc9ijel1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005423966188-46aonfl0em1hdh9vuleai065rc9ijel1</string>
	<key>API_KEY</key>
	<string>AIzaSyDKtR3e20__0B-TNIPJVCVw4mz8oaO46pg</string>
	<key>GCM_SENDER_ID</key>
	<string>1005423966188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LaCost765.GeekQuiz</string>
	<key>PROJECT_ID</key>
	<string>geekquiz2000</string>
	<key>STORAGE_BUCKET</key>
	<string>geekquiz2000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005423966188:ios:e3a820696bb148dac432c9</string>
</dict>
</plist>